* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  border: 1px;
  border-width: 200px;
  height: 100px;
  background-color: #949494;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* main section */
.flex-container {
  border: 1px;
  background-color: rgb(214, 212, 140);
  display: flex;
  flex-direction: row;

  width: 1585px;
  height: 500px;
}

.inner-div {
  border: 1px solid red;
  display: flex;
  width: 1090px;
  height: 500px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}
.flex-container {
  border: 1px solid blueviolet;
  display: flex;
  flex-direction: row;
  align-items: self-end;
  align-content: flex-start;
  justify-content: center;
}

.inner-div-miniblock {
  display: flex;
  border: 1px solid forestgreen;
  background-color: goldenrod;
  flex-wrap: wrap;
  flex-basis: 30px;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 200px;
  height: 60px;
  margin: 2%;
  padding: 1%;
}
.inner-div-miniblock2 {
  display: flex;

  border: 1px solid forestgreen;
  background-color: goldenrod;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;

  width: 200px;
  height: 60px;
  margin: 2%;
  padding: 1%;
}

.inner-div-miniblock3 {
  display: flex;
  border: 1px solid forestgreen;
  background-color: goldenrod;
  flex-direction: row;
  align-self: flex-end;
  justify-content: center;

  width: 400px;
  height: 90px;
  margin: 0%;
  padding: 0%;
}

.inner-div2 {
  display: flex;
  border: 1px solid red;
  background-color: rgb(255, 190, 143);
  flex-direction: row;
  align-items: center;

  justify-content: center;
  width: 500px;
  height: 500px;
}

.wrapper {
  display: flex;
  border: 2px;
  background-color: #949494;
  padding: 40px;
}

.flex-element {
  width: 300px;
  height: 170px;
  margin-right: 130px;
  background: rgb(239, 238, 235);
  font-size: 46px;
  text-align: center;
}
